@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./font.css');

body, 
html {
    font-size: 15px;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    height: 230px;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .button {
    position: relative;
    top: 2.5rem;
    color: #fff;
    background-color: #7B6E68;
    padding: .8rem 1.5rem;
    transition: .4s;
    border: 1.5px solid #7B6E68;
  }
  
  .button:hover {
    color: #7B6E68;
    background-color: #fff;
  }
  
  h1 {
    font-size: 1.999rem;
    font-weight: 600;
    color: #fff;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #7B6E68;
  }
  
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #7B6E68;
  }
  
  .intro-text {
    margin: 100px 20px;
    font-weight: 500;
    font-size: 1rem;
  }
  @media screen and (min-width: 756px) {

    body, 
    html {
        font-size: 20px;
    }
    
    .page-header {
      height: 600px;
    }
    
    h1 {
      font-size: 5.653rem;
      position: absolute;
      bottom: 15px;
      left: 20px;
      bottom: 40px;
      left: 60px;
    }
    
    h2 {
      font-size: 3.5rem;
    }
    
    h3 {
      font-size: 2.5rem;
    }
  .intro-text {
    font-size: 1.999rem;
    margin: 170px 30vw 170px 60px;
    }    
  }